{% extends 'mailer/base.html.twig' %}

{% block title %}Objesctif atteind !{% endblock %}

{% block body %}
    <div style="width: 60%; margin: 0 auto; font-family: Inter">
        <h1 style="font-size: 40px">Objectif atteint</h1>

        <p style="font-size: 22px">
            Bonjour {{ user.surname }}, <br>
            Félicitation, l'objectif <b>{{ goal.name }}</b> à été atteint.
        </p>
    </div>

{% endblock %}
