{% extends 'mailer/base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe !{% endblock %}

{% block body %}
    <div style="width: 60%; margin: 0 auto; font-family: Inter">
        <h1 style="font-size: 40px">Réinitialiser votre mot de passe</h1>

        <p style="font-size: 22px">
            Bonjour {{ user.surname }},
            Nous avons reçu une demande de modification du mot de passe de votre compte. <br><br>

            Si vous ne souhaitez pas réinitialiser votre mot de passe, vous pouvez ignorer cet e-mail. <br><br>

            Si vous n'avez pas demandé cette modification, vous souhaiterez peut-être revoir les paramètres de sécurité de votre compte. <br><br>
        </p>

        <a href="" style="width: 288px; height: 50px; color: #fff; background: #758BFD; padding: 15px; margin: 0 auto; text-decoration: none">Réinitialiser le mot de passe</a>
    </div>

{% endblock %}
